@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Montserrat:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paragrafo-trilha  {
    margin-bottom: 16px;
}
.link-ementa {
    border: 1px solid #264FEC;
    border-radius: 4px;
    padding: 16px;
    text-decoration: none;
    position: absolute;
    bottom: 32px;
    height: 54px;
    width: 160px;
    color: #264FEC;
    transition: 0.3s all;
    text-align: center;
}
.link-ementa:hover {
    background-color: #264FEC;
    color: #FFFFFF;
    border-color: #0000d6;
}
body {
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
}

.container-elementos-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal {
    color: #0000EE;
    font-size: 24px;
}

.label-pesquisa {
    background-color: #DB1E8C;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.input-pesquisa {
    background-color: transparent;
    border: none;
    padding: 4px;
}

::placeholder {
    color:#ff97d3;
}
.conteudoPrincipal {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 10px;   
}
/* main apresentação dos cursos */
.container-opcoes-cursos {
    width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.box {
    background-color: #FFFFFF;
    width: calc((100% - 64px) / 3);
    padding: 32px;
}
.titulo-curso {
color: #364372;
margin-bottom: 24px;
}

.descricao-curso {
    margin-bottom: 16px;
}

.link-ementa {
    border: 1px solid #264FEC;
    border-radius: 4px;
    padding: 16px;
    text-decoration: none;
    width: 160px;
    height: 54px;
    color: #264FEC;
    transition: 1s all;
    position: absolute;
}
.link-ementa:hover {
    background-color: #264FEC;
    color: #FFFFFF;
}


/* Footer */

footer {
    background-color: #FFFFFF;
    height: 110px;
    display: flex;
}

.container-elementos-footer {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logos {
    display: flex;
    gap: 24px;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-links a {
    text-decoration: none;
    color: #000000;
}

.container-direita {
    display: flex;
    gap: 54px;
    align-items: center;
}

.container-icones {
    display: flex;
    gap: 16px;
}

.container-midias {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
@media screen and (max-width: 680px) {

}